# ignore irrelevant files
*.sif
# ignore folders
log
data
output
configfiles
!configfiles/config-TEST*
reports
# ignore git
.gitmodules
.travis.yml
.gitlab-ci.yml
.coveragerc

#ignore pycharm
.idea/
# ignore snakemake metadata
.snakemake
# test
test/output
!test/output/TEST_snakemake2
