# ignore irrelevant files
*.sif
# ignore folders
log
data
output
configfiles
!configfiles/config-test*
reports
# ignore gitignore
.gitmodules
.travis.yml
.gitlab-ci.yml
.coveragerc

# ignore snakemake metadata
.snakemake
# test
test/output
!test/output/TEST_snakemake2
