# ignore irrelevant files
*.pickle
*.html
*.bam
*.sif
# ignore folders
log
data
output
# ignore gitignore
.gitmodules
.github/
.travis.yml
.gitlab-ci.yml
.coveragerc
# ignore config files
configfiles/
# ignore snakemake metadata
.snakemake

